@{
    ViewData["Title"] = "Home Page";

    var nome = "Simone";
    var cognome = "Crescenzi";

    void stampaNum(int numN)
    {
        var somma = 0;
        for (int i = 0; i <= numN; i++)
        {
            somma += i;
        }
        <span>@somma</span>
    }


    int trovaLettera()
    {
        int a = 0;
        var stringa = "nel mezzo del cammin di nostra vita";
        foreach(var c in stringa)
        {
            if (c == 'a')
            {
                a++;
            }
        }
        return a;
    }

    List<int> NumRandom()
    {
        var random = new Random();
        var numero = new List<int>();
        for(int i = 0; i <= 20; i++)
        {
            numero.Add(random.Next(1, 90));

        }
        return numero;
    }
    void NumRandomRange(List<int> list)
    {
        <ul>
            @foreach(var n in list)
            {
                @if(n > 20 && n < 70)
                {
                    <li>@n</li>
                }
            }
        </ul>       
    }
}

<div>

    <h2>Buonasera, sono @nome @cognome</h2>
    
    <p>La somma tra 1 e 20 è @{stampaNum(20);}</p>

    <p>"nel mezzo del cammin di nostra vita" ha @trovaLettera() "a"</p>

    <div>Numeri Random da 20 a 70: @{NumRandomRange(NumRandom());}</div>















</div>

