@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ciao sono simone e ho creato questa pagina, volevo aprire una pizzeria, stai tranquillo che tutti i tuoi dati sanno coperty da Privacy</p>
