@{
    var post = new Post(
                    id: 0,
                    nome: "Regina Margherita",
                    descrizione: "Pizza margherita con mozzarella di Bufala",
                    foto: "/img/bufala.jpg",
                    prezzo: "12.00€"
                );
}

<p>Sii funziona</p>

